<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>AddStatementServlet</servlet-name>
        <servlet-class>others.AddStatementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SPARQLQueryExecute</servlet-name>
        <servlet-class>others.SPARQLQueryExecute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CriarObjeto</servlet-name>
        <servlet-class>others.CriarObjeto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarTipoObj</servlet-name>
        <servlet-class>servlets.ListarObjetos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarTipos</servlet-name>
        <servlet-class>others.GerenciarTipos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarTipo</servlet-name>
        <servlet-class>others.AlterarTipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeArquivo</servlet-name>
        <servlet-class>servlets.LeArquivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUpLoad</servlet-name>
        <servlet-class>servlets.ServletUpLoad</servlet-class>
    </servlet>
    <!--    <servlet>
        <servlet-name>getObject</servlet-name>
        <servlet-class>servlets.getObject</servlet-class>
        <init-param>
            <param-name>id</param-name>
            <param-value/>
        </init-param>
    </servlet>-->
    <servlet-mapping>
        <servlet-name>AddStatementServlet</servlet-name>
        <url-pattern>/AddStatementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SPARQLQueryExecute</servlet-name>
        <url-pattern>/SPARQLQueryExecute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CriarObjeto</servlet-name>
        <url-pattern>/CriarObjeto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarTipoObj</servlet-name>
        <url-pattern>/PesquisarTipoObj</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarTipos</servlet-name>
        <url-pattern>/GerenciarTipos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarTipo</servlet-name>
        <url-pattern>/AlterarTipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeArquivo</servlet-name>
        <url-pattern>/LeArquivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUpLoad</servlet-name>
        <url-pattern>/ServletUpLoad</url-pattern>
    </servlet-mapping>
    <!--    <servlet-mapping>
        <servlet-name>getObject</servlet-name>
        <url-pattern>/getObject</url-pattern>
    </servlet-mapping>-->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>bootstrap</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <mime-mapping>
        <extension>woff</extension>
        <mime-type>application/x-font-woff</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff2</extension>
        <mime-type>application/x-font-woff2</mime-type>
    </mime-mapping>
    <filter>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
    </filter>
</web-app>
